@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Background of entire home page */

body, html {

  height: 100%;
  margin: 0;
  line-height: 180%
  color: #666;
  text-align: center;

}

/* For both parallax */
/*
.parallax1, .parallax2 {
  position: relative;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

/* First parallax, with friends and sunrise picture */
/*
.parallax1 {
  background-image: url(images/sunrise.jpeg); */
  /*min-height: 100%;*/
  /*
  max-width: 100%;
  height: 100%;
}

/* Second parallax, with blurry sunrise picture */
/*
.parallax2 {
  background-image: url(images/blur.jpeg);
  min-height: 100%; */
  /* centers the github, linkedin, instagram pictures, and the text about the website */
  /*
  text-align: center;
  font-size: 16px;
} */

.parallax1 {
  height: 100%;
  background-image: url(images/sunrise.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.parallax2 {
  height: 100%;
  background-image: url(images/blur.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
	.parallax1, .parallax2 {
		background-attachment: initial;
    		background-size:cover;
	}
}


/* center the Kiana Hosaka header */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Hover text for banners */
.ex1 {
  font-family: "Saira Condensed", sans-serif;
  color: black;
  font-size: 40px;
  text-decoration: none;
  padding: 20px;
}

/* Ensures self, blog, work is horiozontal */
.inlineblock {
  display: inline-block;
}

.bottom {

    height:500px;
    display: table-cell;
    vertical-align: bottom;


}

/* Ensures self, blog, work is centered */
#banner {
  text-align: center;
}


/* Connect with Me. */
.connect {
  font-family: "Saira Condensed", sans-serif;
  color: white;
  text-align: center;
  font-size: 100px;
}

/* For text explaining website */
h1 {
  font-family: "Saira Condensed", sans-serif;
  font-size: x-large;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Saira Condensed", sans-serif;
  font-size: medium;
  text-align: center;
  color: white;
}
