/* Background of entire home page */
body, html {
  background-color: white;
  height: 100%;
  margin: 0;
  line-height: 180%
  color: #666;
  text-align: center;
}

/* center the Kiana Hosaka header */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hover text for banners */
.ex1 {
  font-family: "Saira Condensed", sans-serif;
  color: black;
  font-size: 40px;
  text-decoration: none;
  padding: 20px;
}

/* Ensures self, blog, work is horiozontal */
.inlineblock {
  display: inline-block;
}

/* Ensures self, blog, work is centered */
#banner {
  text-align: center;
}

/* First parallax, with friends and sunrise picture */
.parallax1 {
  background: url(images/sunrise.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

/* Second parallax, with blurry sunrise picture */
.parallax2 {
  background: url(images/blur.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  /* centers the github, linkedin, instagram pictures, and the text about the website */
  text-align: center;
  font-size: 16px;
}

/* Connect with Me. */
.connect {
  font-family: "Saira Condensed", sans-serif;
  color: white;
  text-align: center;
  font-size: 100px;
}

/* For text explaining website */
h1 {
  font-family: "Saira Condensed", sans-serif;
  font-size: x-large;
  text-align: center;
  color: white;
}
